.container-left, .container-right {
    height: auto;
    width: 45%;
    margin: 30px auto;
    background-color: rgba(223, 204, 255, 0.8);
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-left {
    margin-right: 10px;
}

.container-right {
    margin-left: 10px;
}

.container-left h2, .container-right h2 {
    text-align: center;
}

.container-left .content, .container-right .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-left .content img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    margin-left: 10px;
}

.container-right .content img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    margin-right: 10px;
}

.container-left .content .text p {
    margin-bottom: 10px;
}

.container-left .content ul,
.container-right .content ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.container-left .content ul li,
.container-right .content ul li {
    font-size: 18px; /* Increase font size */
    line-height: 1.5; /* Adjust line height for better readability */
    margin-bottom: 10px; /* Add space below each list item */
    padding-left: 20px; /* Add space to the left */
}

.container-left .content ul li::before,
.container-right .content ul li::before {
    content: "•"; /* Use a bullet point as list item marker */
    color: #333; /* Set bullet point color */
    display: inline-block; /* Ensure bullet points are inline with text */
    width: 10px; /* Adjust spacing between bullet point and text */
    margin-left: -20px; /* Move bullet point to the left */
}